<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.butterfly.system.dao.SysRoleInfoMapper">
  <resultMap id="BaseResultMap" type="com.java.butterfly.system.entity.SysRoleInfo">
    <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="MODIFY_DATE" jdbcType="DATE" property="modifyDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ROLE_ID, ROLE_NAME, STATUS, CREATE_DATE, MODIFY_DATE
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE_INFO
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SYS_ROLE_INFO
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.java.butterfly.system.entity.SysRoleInfo">
    insert into SYS_ROLE_INFO (ROLE_ID, ROLE_NAME, STATUS, 
      CREATE_DATE, MODIFY_DATE)
    values (#{roleId,jdbcType=DECIMAL}, #{roleName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{modifyDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.java.butterfly.system.entity.SysRoleInfo">
    insert into SYS_ROLE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.butterfly.system.entity.SysRoleInfo">
    update SYS_ROLE_INFO
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.butterfly.system.entity.SysRoleInfo">
    update SYS_ROLE_INFO
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      MODIFY_DATE = #{modifyDate,jdbcType=DATE}
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
</mapper>