<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 查询用户资源 -->
<mapper namespace="com.java.butterfly.system.dao.SysUserResourcesMapper">
  <resultMap id="BaseResultMap" type="com.java.butterfly.system.entity.SysUserResources">
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="RESOURCE_CODE" jdbcType="VARCHAR" property="resourceCode" />
  </resultMap>
  
   <sql id="Base_Column_List">
       ROLE_ID,
       RESOURCE_CODE
  </sql>
  
<!--   查询用户资源-->
  <select id="loadUserResources" parameterType="com.java.butterfly.system.entity.SysUserResources" resultMap="BaseResultMap">
  	SELECT
	  <include refid="Base_Column_List" />
	   FROM SYS_USER_INFO SUI
	       LEFT JOIN SYS_ROLE_INFO SRI
	          ON SUI.ROLE_ID = SRI.ROLE_ID AND SRI.STATUS = 0
	       LEFT JOIN SYS_ROLE_RESOURCES SRR ON SRI.ROLE_ID = SRR.ROLE_ID
	       LEFT JOIN SYS_RESOURCES_INFO SRSI
	          ON SRR.RESOURCES_CODE = SRSI.RESOURCE_CODE AND SRSI.STATUS = 0
	 WHERE SUI.STATUS = 0 
	 AND SRI.ROLE_ID = '2'
	 AND SRI.ROLE_ID = #{userId,jdbcType=DECIMAL}
  </select>
  
</mapper>